<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center ">
          <a id="salesforceLoginBtn" class="btn btn-primary" href="https://login.salesforce.com/services/oauth2/authorize?response_type=code&client_id=3MVG9YDQS5WtC11qkyOS6M6DQY99CEesL6Mdf0xzUGG8bD8o0a4CCnkxZjn4ut5cd4o9mjihGRubfypmGyEGj&redirect_uri=https://salesforceauthmock.herokuapp.com/callback" id="salesforceLoginBtn">Login with Salesforce</a>
          <img width="300px" height="200px" src='' id="profilePic" alt="Profile Picture"/>
          <h3 id="salesforceUsername"></h3>
          <p class="text-muted" id="salesforceUserId"></p>
          <h3 id="salesforceOrgName"></h3>
          <p class="text-muted" id="salesforceOrgId"></p>
      </div>
    </div>
  </div>
  <!-- eJS varibales -->
  <% let sfUname = salesforce_user_name%>
  <% let sfUId = salesforce_user_id%>
  <% let profilePicUrl = salesforce_profilePicURL %>
  <% let sfOrgId = salesforce_org_id %>
  
</body>
</html>


