<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

  <div class="contianer">
    <div class="row">
      <div class="col-md-12 text-center">
          <a class="btn btn-primary" href="https://login.salesforce.com/services/oauth2/authorize?response_type=code&client_id=3MVG9YDQS5WtC11qkyOS6M6DQY99CEesL6Mdf0xzUGG8bD8o0a4CCnkxZjn4ut5cd4o9mjihGRubfypmGyEGj&redirect_uri=https://salesforceauthmock.herokuapp.com/" id="salesforceLoginBtn">Login with Salesforce</a>
          <!--<a class="salesforceLoginBtn" href="http://localhost:5000/?response_type=code">Redirect to another link</a>-->
      </div>
    </div>
  </div>
  <!-- eJS varibales -->
  <% let client_id = salesforce_client_id %>
  <% let client_secret = salesforce_client_secret %>
  <script>

      $(document).ready(function(e){
        let currentHref = parent.window.location.href;
        console.log(currentHref);
        if(currentHref !== undefined){
          if(currentHref.includes('code')){
            const code = decodeURIComponent(currentHref.slice(currentHref.indexOf('=')+1));
            const payload = {
              grant_type: 'authorization_code',
              code,
              client_id: '<%= client_id %>',
              client_secret: '<%= client_secret %>',
              redirect_uri: 'https://salesforceauthmock.herokuapp.com/' 
            };
            $.ajax({
              url: 'https://login.salesforce.com/services/oauth2/token',
              method: 'POST', 
              crossdomain: true,
              xhrFields: {
                withCredentials: true
              },
              headers: {
                "Content-Type":"application/x-www-form-urlencoded",
              },
              dataType: 'json',
              data: payload
            })
            .done(function(response){ 
              const { access_token, instance_url, token_type } = response; 
              console.log(access_token,instance_url, token_type);
            });
          } 
        }
      }); 
    
  </script>
</body>
</html>
