<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

  <div class="contianer">
    <div class="row">
      <div class="col-md-12 text-center">
          <a class="btn btn-primary" href="https://login.salesforce.com/services/oauth2/authorize?response_type=code&client_id=3MVG9YDQS5WtC11qkyOS6M6DQY99CEesL6Mdf0xzUGG8bD8o0a4CCnkxZjn4ut5cd4o9mjihGRubfypmGyEGj&redirect_uri=https://salesforceauthmock.herokuapp.com/" id="salesforceLoginBtn">Login with Salesforce</a>
          <!--<a class="salesforceLoginBtn" href="http://localhost:5000/?response_type=code">Redirect to another link</a>-->
      </div>
    </div>
  </div>
  <script>

      $(document).ready(function(e){
        let currentHref = parent.window.location.href;
        console.log(currentHref);
        if(currentHref !== undefined){
          if(currentHref.includes('code')){
            const code = decodeURIComponent(currentHref.slice(currentHref.indexOf('=')+1));
            const payload = {
              grant_type: 'authorization_code',
              code,
              client_id: '3MVG9YDQS5WtC11qkyOS6M6DQY99CEesL6Mdf0xzUGG8bD8o0a4CCnkxZjn4ut5cd4o9mjihGRubfypmGyEGj',
              client_secret: '3015882489247456978',
              redirect_uri: 'https://salesforceauthmock.herokuapp.com/' 
            };
            console.log(payload);
            $.post({
              url: 'https://login.salesforce.com/services/oauth2/token',
              payload,
              function(data, status){
                console.log(`${data} and status is ${status}.`);
              }
            })
          } 
        }
      }, function(e){
        console.log(this.href);
      });
      
  </script>
</body>
</html>
